.home-navbar {
    width: 100%;
    height: 773px;
    display: flex;
  
    background:
        linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.35)),
        url('/img/sofhero.jpg');

    background-size: cover;

    
    
}

.home-navbar .navbar-container {
    margin-top: 55px;
    height: 642px;
}

.home-navbar .navbar-container .menu {
     height: 50px;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;

}

.home-navbar .navbar-container .menu .brand-name {
   color: hsl(0, 11%, 98%);
font-family: "Alumni Sans SC";
font-size: 24px;
font-style: normal;
font-weight: 200;
line-height: 90%; 
}

.home-navbar .navbar-container .menu .links {
   min-width: 700px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}


.home-navbar .navbar-container .menu .links .login-button {
 background: none;
 color: #f8f8ff;
}

.home-navbar .navbar-container .menu .links  .signup-button {
   background: none;
   border: solid 1px  rgb(212, 175, 55);
    color: rgb(212, 175, 55);
  
}


.home-navbar .navbar-container .menu .user-avatar {
width: 45px;
height: 45px;
border-radius: 24px;
}

.home-navbar a {
    text-decoration: none;
}

.home-navbar .hover-line a {
  color: #ffffff;
  z-index: 100;
}
.home-navbar .underline {
    display:block;
    content: "";
    border-bottom: solid 2px  rgb(212, 175, 55);
}

.home-navbar .hover-line::after {
    display: block;
    content: "";
    border-bottom: solid 2px  rgb(212, 175, 55);
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.home-navbar .hover-line:hover:after {
    transform: scaleX(1);
}

.home-navbar div.hover-line::after {
    transform-origin: 0% 50%;
}
.home-navbar .navbar-container .header-frame {
    margin-top: 42px;
    height: 462px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.home-navbar .navbar-container .header-frame  .head-main-txt {
    width: 900px;
    font-family: "Inter", "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    color: rgba(250, 250, 250, 0.78);
    font-size: 3.05rem;
    font-weight: 700;
    letter-spacing: 1.2px;
    line-height: 1.15;
    margin-top: 40px;
   

    background: linear-gradient(
        120deg,
        hwb(0 21% 78%) 0%,
        #e6e6e6 25%,
        hsl(0, 1%, 28%) 50%,
        #e6e6e6 75%,
        lch(25.41% 0.45 18.97) 100%
    );

    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: shine 6s linear infinite;
}

@keyframes shine {
    0% {
        background-position: -200% center;
    }
    100% {
        background-position: 200% center;
    }

}

.home-navbar .navbar-container .header-frame  .wel-txt {
    width: 510px;
    height: 22px;
    font-family: "Inter", "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.3;
    letter-spacing: -0.54px;
    color: #D4AF37;
    margin-left: 280px;
    margin-top: 15px;
}

.home-navbar .navbar-container .header-frame  .desc-txt {
    width: 600px;
    height: 22px;
    font-family: "Inter", "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 15px;
    font-style:normal;
    text-align: center;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: -0.54px;
    color: white;
    margin-top: 50px;

    text-shadow: 0px 2px 8px rgba(0,0,0,1);
}

.home-navbar .navbar-container .header-frame  .explore-btn {
    
    font-family: "Inter", "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    font-size: 0.9375rem;
    line-height: 1.75;
    min-width: 64px;
    padding: 7px 21px;
    border-radius: 4px;
    -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border: 1px solid rgba(17, 17, 17, 0.5);
    color: #D4AF37;
    border-color: #D4AF37;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 50px;
}

.home-navbar .navbar-container  .collection-txt{
  width: 895px;
  height: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   gap: 15px;
   margin-top: 125px;
   margin-left: 160px;
}

.home-navbar .navbar-container  .collection-txt a{
   font-family:"Inter", "Roboto", "Helvetica", "Arial", sans-serif;
   font-size: 14px;
   font-style: normal;
   font-weight: 600;
   line-height: normal;
   letter-spacing: 1.44px;
   color: hsl(0, 1%, 39%);
}



.other-navbar {
    width: 100%;
    height: 400px;
    display: flex;
    background: 
    linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)),
    url('/public/img/main55.jpg');
    background-size: cover;
}

.other-navbar .navbar-container {
    margin-top: 55px;
}

.other-navbar .navbar-container .menu {
     height: 50px;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
}

.other-navbar .navbar-container .menu .brand-name {
   color: hsl(0, 11%, 98%);
font-family: "Alumni Sans SC";
font-size: 24px;
font-style: normal;
font-weight: 200;
line-height: 90%; 
}

.other-navbar .navbar-container .menu .links {
   min-width: 700px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}


.other-navbar .navbar-container .menu .links .login-button {
 background: none; 
 color: #f8f8ff;
}

.other-navbar .navbar-container .menu .user-avatar {
width: 45px;
height: 45px;
border-radius: 24px;
}

.other-navbar a {
    text-decoration: none;
}

.other-navbar .hover-line a {
  color: #f8f8ff;
  z-index: 100;
}
.other-navbar .underline {
    display:block;
    content: "";
    border-bottom: solid 2px #D4AF37;
}

.other-navbar .hover-line::after {
    display: block;
    content: "";
    border-bottom: solid 2px #D4AF37;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.other-navbar .hover-line:hover:after {
    transform: scaleX(1);
}

.other-navbar div.hover-line::after {
    transform-origin: 0% 50%;
}


/* BASKET */

.basket-frame {
  position: relative;
  padding: 10px 4px 0px 4px;
  width: 450px;
  height: auto;
  display: flex;
  flex-direction: column;
  background: oklab(97.33500000000001% 0.00027 0.00274);
  border-radius: 16px;
}

.basket-frame .all-check-box {
  padding: 0px 6px;
  width: 100%;
  height: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background:#D4AF37;
}


.basket-frame .basket-info-box {
  position: relative;
  margin-top: 6px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.basket-info-box .product-img {
  width: 60px;
  height: 60px;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
  border-radius: 29px;
}

.basket-info-box .product-name {
  margin-left: 11px;
  width: 185px;
   font-family:"Inter", "Roboto", "Helvetica", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

.basket-info-box .product-price {
  width: 80px;
   font-family:"Inter", "Roboto", "Helvetica", "Arial", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: hwb(247 4% 64%);
}

.basket-info-box
  .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 6.5px 14px;
}

.basket-info-box .css-ece9u5 {
  min-width: 72px;
}

.basket-frame .cancel-btn {
  position: absolute;
  top: 33%;
  right: 2%;
  cursor: pointer;
}

.basket-frame .basket-order {
  margin-top: 10px;
  width: 100%;
  height: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}

.basket-order .price {
  width: 200px;
  display: flex;
  font-family:"Inter", "Roboto", "Helvetica", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

.basket-frame .orders-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.basket-frame .orders-wrapper::-webkit-scrollbar {
  width: 10px;
}

.basket-frame .orders-wrapper::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

.basket-frame .orders-wrapper::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.basket-frame .orders-main-wrapper {
  position: relative;
  overflow: hidden;
  margin-top: 10px;
  width: 100%;
  height: 260px;
  display: flex;
  flex-direction: column;
}
